{% extends 'base.html.twig' %}

{% block title %}Pets{% endblock %}

{% block body %}
    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
    <div class="vertical">
        <form action="{{ path('add_pet') }}" method="post">
            <input type="hidden" name="userId" value="{{ userId }}">
            <div class="form-group">
                <label for="type">Select pet type</label>
                <select name="type" id="type" class="form-control" autofocus>
                    <option value="null" selected disabled>Select</option>
                    {% for type in types %}
                        <option value="{{ type.type }}">{{ type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="breed">Select pet breed</label>
                <select name="breed" id="breed" class="form-control">
                    <option value="null" selected disabled>Select</option>
                    {% for breed in breeds %}
                        <option value="{{ breed.breed }}">{{ breed.breed }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default form-control">Add a pet</button>
        </form>
    </div>
{% endblock %}
