{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="vertical">
        <form action="{{ path('add_service') }}" method="post">
            <input type="hidden" name="user" value="{{ user }}">
            <div class="form-group">
                <label for="service">Select a service</label>
                <select name="service" id="service" class="form-control">
                    <option value="null" selected disabled>Select</option>
                    {% for service in services %}
                        <option value="{{ service.id }}">{{ service.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="pet">Select a pet</label>
                <select name="pet" id="pet" class="form-control">
                    <option value="null" selected disabled>Select</option>
                    {% for animal in animals %}
                        <option value="{{ animal.id }}">{{ animal.breed.breed }}&nbsp;{{ animal.type.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="date">Select a date</label>
                <input type="datetime-local" name="date" class="form-control" id="date">
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
{% endblock %}